html {
  cursor: default;
}

h1, h2, h3 {
  margin:5px;
}
h1 {
  font-size: 1.25em;
}

h2 {
  font-size: 0.8em;
  font-weight: normal;
}

h3 {
  font-size: 1em;
  font-style: italic;
}

#currentPlayer {
  display: none;
}

#pageContainer {
  width: 100%;
}

#gridContainer {
  display: none;
  margin: 0 auto;
  width: 300px;
}

.sqrTable {
  height: 30px;
  width: 300px;
  border-spacing: 10px;
}

tr:hover .sqr {
  cursor: pointer;
}

tr:hover .sqr-off {
  cursor: default;
}

.sqr,
.sqr-off {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 75px;
  height: 75px;
  text-align: center;
  background-color: #dddddd;
  font-size: 1.75em;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

.player-0 {
  color: #F60;
}

.player-1 {
  color: #309;
}

.piece-0 {
  font-size: 1.5em;
}

.piece-1 {
  font-size: 2em;
}

td {
  /*border: 1px solid red;*/
}


